body {
    background-color: aliceblue;
}

.shrink {
    transition: 1s ease;
}

.shrink:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}


