/* body {
    background-image: url("https://e0.pxfuel.com/wallpapers/575/224/desktop-wallpaper-books-library-shelves-lighting-library-aesthetic.jpg");
    width: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
} */

header {
    padding: 0;
}

main {
    margin-bottom: 25px;
}

.book-list ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.book-list ul li {
    display: inline;
}

img {
    height: 200px;
    width: auto;
}

.shrink {
    transition: 1s ease;
}

.shrink:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}


